body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

:root {
    --glow-color: #5661fa;
    --glow-thickness: 8vw;
    --glow-rythem: 2s;
}

@keyframes glow {
    0% {
        filter: none;
    }
    100% {
        filter: drop-shadow(0 0 var(--glow-thickness) var(--glow-color)) drop-shadow(0 0 calc(2 * var(--glow-thickness)) var(--glow-color)) drop-shadow(0 0 calc(3 * var(--glow-thickness)) var(--glow-color)) drop-shadow(0 0 calc(4 * var(--glow-thickness)) var(--glow-color));
    }
}

.logo img {
    width: 50vw; 
    height: auto; 
    animation: glow var(--glow-rythem) ease-in-out forwards, fadeIn 1.5s ease-in-out;
    max-width: 50vw;
}


.coming-soon {
    font-size: 5vw;
    margin-top: 20px;
    color: #333;
    animation: slideIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
